.navigationBar {
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
    font-size: 20px;
    position: fixed;
    font-weight: bolder;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  
    &.scrolled{
      background-color: black;
    }
  
    .container {
      padding: 0px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
  
      .navBar-left {
        display: flex;
        align-items: center;
        font-size: 16px;
  
        img {
          height: 35px;
          margin-right: 50px;
        }
  
        span {
          margin-right: 20px;
          cursor: pointer;
        }
      }
  
      .navBar-right {
        display: flex;
        align-items: center;
  
        .nav-icon {
          margin: 0px 15px;
          cursor: pointer;
        }
  
        img {
          width: 35px;
          height: 35px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }
  
        .user-profile {
          .profile-info {
            display: none;
            background-color: black;
            border-radius: 10px;
          }
  
          span {
            padding: 10px;
            cursor: pointer;
          }
  
          &:hover {
            .profile-info {
              display: flex;
              flex-direction: column;
              position: absolute;
              background-color: burlywood;
              color:black;
              font-size: 18px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }